spring:
  application:
    name: uber-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/uberdb
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:}
    timeout: 6000ms
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

server:
  port: ${SERVER_PORT:8081}
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    root: INFO
    com.uberbackend: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO